.container {
    background-image: url(../public/home-page-image.svg);
    width: 100%;
}

.section{
    padding-top : 90px;
    background: #02000E;
}   

.paper{
    background-image: url(../public/Rectangle-108.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 420px;
    height: 480px;
    border-radius: 10px;
    box-sizing: border-box;
}


